<h1>我的看板</h1>
<% if notice %>
    <%= notice %>
<% end %>

<%= link_to new_project_path do %>
<div>
    <p>新增看板</p>
</div>
<% end %>
<% current_user.projects.each do |project| %>
    <%= link_to project_path(project) do %>
        <div>
            <p><%= project.name %></p>
        </div>
    <% end %>
<% end %>